@model TwitterAnalytics.Models.TweetSearch
@{
    ViewBag.Title = "Search";
}

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    @Html.EditorForModel()

   <p>
       <button type="submit">Search</button>
       @*<input type="submit" value="Search" class="btn btn-link"/>*@
   </p>
}